body {
  font-family: Arial, sans-serif;
  background-color: #f4e1d2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  margin-bottom: 15px;
  /* Added spacing between inputs */
}

input:focus,
textarea:focus,
select:focus {
  border-color: #3b3b41;
  outline: none;
  box-shadow: 0 0 8px rgba(137, 138, 153, 0.3);
}

.response-container {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #404155;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 500px;
}

.submit-button {
  width: 100%;
  padding: 10px 0;
  background-color: #59585b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #22222b;
}

/* Styles for the signup link */
.signup-redirect {
  text-align: center;
  margin-top: 20px;
}

.signup-link {
  color: #007bff;
  /* Bootstrap blue color for links */
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: #0056b3;
  /* Darker blue on hover */
}